* {
	margin: 0;
	padding: 0;
}
header {
	height: 400px;
}
.foto-perfil {
	width: 250px;
	border-radius: 50%;
	border: 1px solid black;
}
.logo {
	width: 30px;
}
.contenido {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.fotocontain,
.informacion {
	margin: 30px;
}
.buscador {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.card-link {
	border-radius: 41% 59% 33% 67% / 67% 47% 53% 33%;
	width: 150px;
	height: 150px;
	margin: 40px;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);

	border: 1px solid rgba(255, 255, 255, 0.18);
}
.card-link:hover {
	transform: scale(1.04);
	transition: all 0.2s;
}
.sobre-mi,
.info-exp {
	text-align: center;
}
.info-exp {
	width: 200px;
	height: 200px;
}
.aptitudes {
	flex-flow: column;
	margin-top: 30px;
	padding: 30px;
}
.container-aptitudes {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	flex-wrap: wrap;
	margin: 20px;
}
.fondo {
	background-color: #f7f7f7;
}
.aptitud-img {
	width: 75px;
}
.container-aptitudes > div,
h2,
h4,
.text-es {
	text-align: center;
}
.experiencia {
	margin: 30px;
}
.card-exp {
	margin: 30px;
	width: 100%;
}
.sect-exp {
	padding: 20px;
}
ul,
li {
	text-decoration: none;
	list-style: none;
}
.escuela-img {
	width: 200px;
	border: 1px solid black;
	border-radius: 50%;
}
.educacion {
	flex-flow: column;
}
.info-es {
	width: 100%;
}
.text-es,
.escuela-img {
	margin: auto;
}
.text-es {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
form {
	flex-flow: column;
}
.card {
	width: 200px;
	height: 300px;
	box-shadow: 0 0 10px 10px rgb(233, 233, 233);
	border-radius: 10px;
	margin: 10px;
}
.card:hover {
	transform: scale(1.04);
	transition: all 0.2s;
}
.pro {
	padding: 50px;
}
